@using Catalog.Repository.Dto.BrandDto
@model IEnumerable<BrandReadDto>

@{
    Layout = "~/Views/Shared/_AdminBlankLayout.cshtml";
}

<div class="float-end">
    <a href="/users/create" class="btn btn-outline-primary">Додати Бренд</a>
</div>


<h1>Список брендів</h1>
<hr />

<!-- Dark Table -->
<table class="table table-dark">
    <thead>
            <th scope="col">Назва</th>
    <th scope="col"></th>
    <th scope="col"></th>
        @foreach (var u in Model)
        {
        <tr>
            <td>@u.BrandId </td>
            <td>@u.BrandName </td>
            <td>
                <a href="/users/edit/@u.BrandId" class="btn btn-warning">Редагувати</a>
                <a href="/users/delete/@u.BrandId" class="btn btn-danger">Видалити</a>
            </td>
        </tr>
        }
    </thead>
    <tbody> 
    </tbody>
</table>
<!-- End Dark Table -->
    </tbody>
</table>