@using Catalog.Repository.Dto.GoodsDto
﻿@using Catalog.Core
@using Catalog.Repository
@using Catalog.Repository.Dto.BrandDto
@using Catalog.Repository.Dto.BuyerDto
@using Catalog.Repository.Dto.CategoryDto
@using Catalog.Repository.Dto.TypegDto
@using Catalog.Repository.Dto.SellerDto
@model IEnumerable<CategoryReadDto>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
      <h1>Welcome</h1>
      </div>

<div class="text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        @foreach (var u in Model)
        {
            <div class="card h-100">
                
                <div class="card-body p-4">
                    <img class="card-img-top" src="@u.IconPath" alt="...">
                    <div class="text-center">



                        <h5 class="fw-bolder">@u.CategoryName  </h5>


                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="Timetable">View options</a></div>



                </div>
            </div>
        }


    </div>
</div>


